@font-face {
  font-family: "SUIT";
  font-weight: 200;
  src: url("./SUIT-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  font-weight: 300;
  src: url("./SUIT-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  font-weight: 400;
  src: url("./SUIT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  font-weight: 500;
  src: url("./SUIT-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  font-weight: 600;
  src: url("./SUIT-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  font-weight: 700;
  src: url("./SUIT-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  font-weight: 800;
  src: url("./SUIT-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  font-weight: 900;
  src: url("./SUIT-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans";
  font-weight: 400;
  src: url("./ProductSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans";
  font-weight: 700;
  src: url("./ProductSans-Bold.ttf") format("truetype");
}

body {
  font-family: "SUIT" !important;
}
