@font-face {
  font-family: "SUIT";
  font-weight: 200;
  font-display: swap;
  src: url("./SUIT-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT";
  font-weight: 300;
  font-display: swap;
  src: url("./SUIT-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT";
  font-weight: 400;
  font-display: swap;
  src: url("./SUIT-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT";
  font-weight: 500;
  font-display: swap;
  src: url("./SUIT-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT";
  font-weight: 600;
  font-display: swap;
  src: url("./SUIT-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT";
  font-weight: 700;
  font-display: swap;
  src: url("./SUIT-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT";
  font-weight: 800;
  font-display: swap;
  src: url("./SUIT-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT";
  font-weight: 900;
  font-display: swap;
  src: url("./SUIT-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Product Sans";
  font-weight: 400;
  font-display: swap;
  src: url("./ProductSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Product Sans";
  font-weight: 700;
  font-display: swap;
  src: url("./ProductSans-Bold.woff2") format("woff2");
}

body {
  font-family: "SUIT" !important;
}
